<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166089802653-eb6i5qtspa8smgh8u3gf21keumjqiqs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166089802653-eb6i5qtspa8smgh8u3gf21keumjqiqs0</string>
	<key>API_KEY</key>
	<string>AIzaSyDTfIhtF7cPNp2-ofjDQx3LJG3GcahuQUI</string>
	<key>GCM_SENDER_ID</key>
	<string>166089802653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gakeppuchi.net.LoveJudgement</string>
	<key>PROJECT_ID</key>
	<string>lovejudgement-1a52b</string>
	<key>STORAGE_BUCKET</key>
	<string>lovejudgement-1a52b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166089802653:ios:ec2942e9edca245b34e574</string>
	<key>DATABASE_URL</key>
	<string>https://lovejudgement-1a52b.firebaseio.com</string>
</dict>
</plist>